body {
    background-color:#b3cbcb;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.headshot {
    height: 30%;
    width: 30%;
    padding: -5px;
}

h1 {
    text-align: center;
}

.section{
    text-align: left;
}
footer{
    text-align: center;
    font-style: italic;
    margin-top: 30px;
}

table{
    border: 5px solid #486a6a;
    margin-left: 350px;
}

th{
    font-weight: bold;
}

td{
    border: 2px dashed #486a6a;
    text-align: center;
    width: 250px;
}

.logo {
    height: 30%;
    width: 30%;
    margin-left: 50px;
    margin-bottom: 25px;
}

.logo2 {
    height: 10%;
    width: 10%;
    margin-left: 50px;
    margin-bottom: 2px;
}

#goshen {
    color: #344c4c;
    text-decoration: none;
}

.jobs {
    color: #344c4c;
    text-decoration: none;
}

.education {
    height: 25px;
    width: 120px;
    border: 2px solid #344c4c;
    border-radius: 10px;
    background-color: #d1e0e0;
    text-align: center;
}

.experience {
    height: 50px;
    width: 140px;
    border: 2px solid #344c4c;
    border-radius: 10px;
    background-color: #d1e0e0;
    text-align: center;
    text-justify: distribute;
}

li h3 {
    font-style: italic
}