body {
    background-color:#b3cbcb;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.headshot {
    height: 30%;
    width: 30%;
    padding: 0px;
}

h1 {
    text-align: center;
}

footer{
    text-align: center;
    font-style: italic;
    margin-top: 30px;
}

table{
    border: 5px solid #486a6a;
    margin-left: 350px;
}

th{
    font-weight: bold;
}

td{
    border: 2px dashed #486a6a;
    text-align: center;
    width: 250px;
}

.logo {
    margin-left: 50px;
    margin-bottom: 50px;
}

#goshen {
    margin-left: 4px;
    color: #344c4c;
    text-decoration: none;
}